
<h4 class="text-center">About</h4>
<p>RoomieFinder is a website devoted to help you find a roommate that's a good match whether you're looking to move into a new place with new people or whether you're trying to fill a vacant spot in your home. RoomieFinder provides you with tools to quickly filter and search through our roomie database.</p>
<p>If you're trying to fill a vacant spot you can use RoomieFinder to quickly and easily start searching for a replacement. You can set filters for age, maximum rent, gender and much more. You can also use keyword searches to quickly find people with similar interests.</p>
<p>I hope you enjoy using this free service and if you have any comments, questions, or concerns please don't hesitate to reach out to us in our Contact section.</p>
