<div class="text-center" style="margin-top:10px">
    <h4>H4 header {{pc.user.firstname}} {{pc.user.lastname}}</h4>
    <div class="row">
        <div class="col-sm-6">
            <img ng-src="http://d.ibtimes.co.uk/en/full/1356835/number-2-u-s-president-barack-obama-second-most-admired-person-planet.jpg?w=500" class="img-thumbnail" />
        </div>
        <div class="col-sm-6 text-left">
          <p>username: {{pc.user.username}}</p>
          <p>About: {{pc.user.about}}</p>
          <p>Age: {{pc.user.age}}</p>
          <p>Gender: {{pc.user.gender}}</p>
          <p>Maximum Rent: ${{pc.user.priceMax}}</p>
          <p>Minimum Rent: ${{pc.user.priceMax}}</p>
          <p>Smokes: {{pc.user.smokes}}</p>
          <p>Smokes: {{pc.user.smokes}}</p>
          <p>Phone: {{pc.user.phone}}</p>
          <p>Email: {{pc.user.email}}</p>
          <p>Street: {{pc.user.address.street}}</p>
          <p>City: {{pc.user.address.city}}</p>
          <p>Zip: {{pc.user.address.zip}}</p>
          <p>Available: {{pc.user.available}}</p>
        </div>
    </div>
</div>
