

<div class="panel panel-default">
  <h3 class="text-center">Power Search</h3>
  <div class="panel-body">
    <form ng-submit="sc.search()" class="form-inline">
      <div class="row center-row">
        <div class="form-group first-row-param">
          <label>Gender: </label>
          <select ng-model="sc.searchParams.gender" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="">Don't Care</option>
          </select>
        </div>
        <div class="form-group first-row-param">
          <label>Smokes: </label>
          <select ng-model="sc.searchParams.smokes" class="form-control">
            <option value="no">Non-Smoker</option>
            <option value="yes">Smoker</option>
            <option value="">Don't Care</option>
          </select>
        </div>
        <div class="form-group first-row-param">
          <label>Maximum Rent: </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="sc.searchParams.priceMax" type="number" class="form-control text-center max-rent-input" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <div class="form-group first-row-param">
          <label>Keyword Search: </label>
          <input ng-model="sc.searchParams.keyword" type="text" class="form-control text-center" placeholder="Start typing here..">
        </div>
      </div><!-- row -->
      <div class="row center-row age-slider-container">
          <label class="pull-left minagelabel">Min Age: <span ng-bind="sc.searchParams.minAge"></span></label>
          <label class="pull-right maxagelabel">Max Age: <span ng-bind="sc.searchParams.maxAge"></span></label>
          <div class="age-slider">
            <div slider ng-from="sc.searchParams.minAge" ng-to="sc.searchParams.maxAge" start=16 end=120 step=1></div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </div>


    </form>
  </div><!-- panel-body -->
</div><!-- panel panel-default -->
<div ng-repeat="person in sc.searchResults" class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
          <p>{{person.firstname}} {{person.lastname}}</p>
      </div>
    </div>
  </div>
</div>








































<!--  -->
