

<div class="panel panel-default">
  <h3 class="text-center">Power Search</h3>
  <div class="panel-body">
    <form ng-submit="sc.search()" class="form-inline">
      <div class="row center-row">
        <div class="form-group first-row-param">
          <label>Gender: </label>
          <select ng-model="sc.searchParams.gender" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="">Don't Care</option>
          </select>
        </div>
        <div class="form-group first-row-param">
          <label>Smokes: </label>
          <select ng-model="sc.searchParams.smokes" class="form-control">
            <option value="no">Non-Smoker</option>
            <option value="yes">Smoker</option>
            <option value="">Don't Care</option>
          </select>
        </div>
        <div class="form-group first-row-param">
          <label>Maximum Rent: </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="sc.searchParams.priceMax" type="number" class="form-control text-center max-rent-input" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <div class="form-group first-row-param">
          <label>Keyword Search: </label>
          <input ng-model="sc.searchParams.keyword" type="text" class="form-control text-center" placeholder="Start typing here..">
        </div>
      </div><!-- row -->
      <div class="row center-row age-slider-container">
          <label class="pull-left minagelabel">Min Age: <span ng-bind="sc.searchParams.minAge"></span></label>
          <label class="pull-right maxagelabel">Max Age: <span ng-bind="sc.searchParams.maxAge"></span></label>
          <div class="age-slider">
            <div slider ng-from="sc.searchParams.minAge" ng-to="sc.searchParams.maxAge" start=16 end=120 step=1></div>
          </div>
          <label ng-show="sc.user.rentee">Search Near: </label>
          <input ng-show="sc.user.rentee" type="text" class="form-control text-center" placeholder="Wilmington DE">
          <label>Search Radius: </label>
          <select class="form-control">
            <option value="">5</option>
            <option value="">10</option>
            <option value="">30</option>
            <option value="">50</option>
          </select>
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </div>
    </form>
  </div><!-- panel-body -->
</div><!-- panel panel-default -->
<div class="row">
  <div ng-hide="sc.user.rentee" class="col-sm-12">
    <div ng-repeat="person in sc.searchResults" class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <img ng-src="{{person.image}}" class="img-thumbnail"/>
            </div>
            <div class="col-sm-9">
              <h4>{{person.firstname}} {{person.lastname}}</h4>
              <p>Age: {{person.age}}</p>
              <p>Gender: {{person.gender}}</p>
              <p>Smokes: {{person.smokes}}</p>
              <p>{{person.about}}</p>
              <button ng-click="sc.sendMessage()" type="button" class="btn btn-primary btn-md">Contact</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- ng-repeat -->
  </div><!-- col-sm-12 -->
  <div ng-show="sc.user.rentee" class="col-sm-12">
    <ng-map zoom="13" center="1431 Clayton Street, Wilmington DE" style="height:600px">
      <marker ng-repeat="person in sc.searchResults" position={{person.markerPosition}} on-click="sc.showCustomMarker(person.username)"></marker>
      <custom-marker ng-repeat="person in sc.searchResults" id="{{person.username}}" position={{person.markerPosition}} on-click="sc.closeCustomMarker(person.username)">
        <div class="panel panel-default" style="width:300px">
          <div class="panel-body">
            <h5>{{person.firstname}} {{person.lastname}}</h5>
            <p>{{person.about}}</p>
            <button ng-click="sc.sendMessage()" type="button" class="btn btn-primary btn-md">Contact</button>
          </div>
        </div>
      </custom-marker>
    </ng-map>
  </div><!-- col-sm-12 -->
</div><!-- row -->









































<!--  -->
